<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role1RunAction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{42,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{44,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{42,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{44,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{44,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{42,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{42,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{44,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{44,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Role1RunAction_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role1Run.png</string>
            <key>size</key>
            <string>{902,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d646d23d29357278ab26bcf13531a79:8cd5821940827738b9968b306ad4340e:c00989035de880712d201b1881e20145$</string>
            <key>textureFileName</key>
            <string>Role1Run.png</string>
        </dict>
    </dict>
</plist>
