<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role2RunAction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{54,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{52,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{50,63}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{46,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{48,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{48,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{46,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{48,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,61}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{42,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{42,61}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{46,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{52,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{48,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{48,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{46,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{48,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{48,61}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1247},{42,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{42,61}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{50,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{52,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{50,65}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{50,65}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{54,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{52,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Role2RunAction_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{50,63}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{50,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role2Run.png</string>
            <key>size</key>
            <string>{58,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d60afc9f10933bfccc3d7c07f6d0038:82f8e439fc9fb144f20e93a7362fc76c:2c47fdd017e13769d28d3a57df83c9b9$</string>
            <key>textureFileName</key>
            <string>Role2Run.png</string>
        </dict>
    </dict>
</plist>
